In [ ]:
#usable for Project Euler 18 and 67.

In [1]:
import pandas as pd

In [6]:
pd.read_csv('C:\\Users\\pfarrell\\Desktop\\euler18.csv',delimiter='\n')

                                              75
0                                          95 64
1                                       17 47 82
2                                    18 35 87 10
3                                 20 04 82 47 65
4                              19 01 23 75 03 34
5                           88 02 77 73 07 63 67
6                        99 65 04 28 06 16 70 92
7                     41 41 26 56 83 40 80 70 33
8                  41 48 72 33 47 32 37 16 94 29
9               53 71 44 65 25 43 91 52 97 51 14
10           70 11 33 28 77 73 17 78 39 68 17 57
11        91 71 52 38 17 14 91 43 58 50 27 29 48
12     63 66 04 68 89 53 67 30 73 16 69 87 40 31
13  04 62 98 27 23 09 70 98 73 93 38 53 60 04 23

In [33]:
#with open('C:\\Users\\pfarrell\\Desktop\\euler18.txt') as file: 
with open('C:\\Users\\pfarrell\\Desktop\\euler067.txt') as file: 
    data = file.readlines()
    numList = [line.split() for line in data]
    
    output = []
    for row in numList:
        output.append([int(n) for n in row])

    print(output[:10])

[[59], [73, 41], [52, 40, 9], [26, 53, 6, 34], [10, 51, 87, 86, 81], [61, 95, 66, 57, 25, 68], [90, 81, 80, 38, 92, 67, 73], [30, 28, 51, 76, 81, 18, 75, 44], [84, 14, 95, 87, 62, 81, 17, 78, 58], [21, 46, 71, 58, 2, 79, 62, 39, 31, 9]]

In [34]:
for r in range(len(output)-2,-1,-1):
    for i,v in enumerate(output[r]):
        output[r][i] += max(output[r+1][i],output[r+1][i+1])
print(output[0][0])

7273